<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/port.css">
    <!-- Link Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- List -->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <!--Comics - Bangers-->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!--Games - Press Start 2P -->
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!--Luckiest Guy-->
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <!-- Rubik Mono One -->
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
    <!-- Megrim -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <!-- Bungee Shade -->
    <link href="https://fonts.googleapis.com/css2?family=Codystar&display=swap" rel="stylesheet">
    <!-- Codystar -->
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <!-- rus fonts-->

    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/static/Icons/152_IC.jpg" sizes="152x152">

    <!-- 
  <link rel="icon" type="image/png" href="/static/Icons/96_IC.jpg" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/Icons/32_IC.jpg" sizes="32x32">
     -->

    <title>Amal Agishev</title>
</head>
<!-- //TODO -->

<body class="MainBody" style="color: #fff; background-color: #000;" id='MainBody'>
    <div class="mtrk">
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(m, e, t, r, i, k, a) {
                m[i] = m[i] || function() {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(80439196, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/80439196" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <div id='ExitBlock' onclick="bars(this)"></div>

        <div id='TransformColor'></div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/cod_conami.js"></script>
        <!-- #a9a6a68f   белый -->
    </div>

    <main style="text-align: center;" id='m'>
        <header>
            <nav id='menu'>
                <a href="#m" style="height: 10%;" class="logo">
                    <figure style="margin: 0; margin-block-start: 17px;">
                        <svg class="SVGExit" style="margin-top: -30px;" width="40" height="80" viewBox="0 0 239 385" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="113" width="14" height="188" fill="#474747"/>
              <rect x="8" y="363" width="223" height="22" fill="#F1F1F1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M136.694 135H103.306L16 185.406L16 135H0V374H239V135H224V185.406L136.694 135Z" fill="#3C78AF"/>
            </svg>
                    </figure>
                </a>
                <ul class="menu BackMenuText">
                    <li>
                        <a href="#Work">Work</a>
                    </li>

                    <li>
                        <a href="#Projects">Project</a>
                    </li>

                    <li>
                        <a href="#sertificate">sertificate</a>
                    </li>

                    <li>
                        <a href="#About">About</a>
                    </li>



                    <li>
                        <a href="#color" onclick="BRe()">
                            <i id='FaR' class="fa fa-moon-o GTAW" style="font-size: .9em;" aria-hidden="true"></i>

                        </a>
                    </li>


                </ul>
            </nav>
        </header>
        <section class="Sections ">
            <!-- BlockSize -->
            <div class="cont">
                <h1 class="Texts" style="font-family: 'Russo One';"><span id='textLegBlock'>Привет</span><br> this is Amal</h1>
                <h2>I’m a 20 year old developer and designer from Russia. I'm the one the <i>Baby Yoda</i> calls when he need to ship awesome products.</h2>
            </div>
            <figure class="computer">
                <figure class="monitor"></figure>
                <figure class="video">
                    <div class="desktop">
                        <div class="dancing-baby window">

                        </div>
                    </div>
                </figure>
                <!-- FIXME: -->
                <figure class="cord">
                    <svg width="907" height="72" viewBox="0 0 907 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 52.5C14.3333 53.8333 41.8 58.3 45 65.5C48.2 72.7 72.8333 64 96.5 61C96.5 61 118.9 59.5 128.5 65.5C140.5 73 375 45.5 526.5 65.5C647.7 81.5 618 52.8333 588 36.5C579.167 28.1667 584.4 14 676 24C790.5 36.5 895.5 14.5 905.5 1" stroke='#1a1a1a' stroke-width="3"/>
            </svg>
                </figure>
            </figure>

        </section>


        <section id='Work' class="SectionsWork BlockSize">
            <div class="cont">
                <h1 class="Texts" style="font-family: 'Russo One'; margin: 0;">Work</h1>
                <h3>Selected works from 2018 to present.</h3>
            </div>
            <div style="margin-top: 40px;" id='Workss'>
                <div class="bobr" id='Work0'>
                    <li class="workBlock" style="background-image: url(/static/pf/domyhomework.jpg); background-color:#5c5c5c; background-size: cover;">
                        <div class="Grodd">
                            <div class="textInWorkJB1">
                                <cite class="textInWorkBlock">DoMyHomework123</cite>
                            </div>
                        </div>
                    </li>
                    <h1 style="display: none;" class="textOp">A website that does your homework for you<br>Written in python</h1>
                    <a style="display: none;" class="animated-button ActiveMusic" href="https://domyhomework123.com/">visit the site</a>
                </div>

                <div class="bobr" id='Work1'>
                    <li class="workBlock sWB" style="background-image: url(/static/pf/goraTG.jpg); background-color:#242424; background-size: contain;">
                        <div class="Grodd">
                            <div class="textInWorkJB1">
                                <cite class="textInWorkBlock">TelagramBot GoraTG</cite>
                            </div>
                        </div>
                    </li>
                    <h1 style="display: none;" class="textOp">Telegram bot with prizes and for correct answers<br>Written in python</h1>
                    <a style="display: none;" class="animated-button ActiveMusic" onclick="goTohtml(this)" href="https://t.me/goratg_bot">To try</a>
                </div>

                <div class="bobr" id='Work2'>
                    <li class="workBlock sWB" style="background-image: url(/static/pf/ting_prev.jpg); background-color:#5c5c5c; background-size: cover;">
                        <div class="Grodd">
                            <div class="textInWorkJB1">
                                <cite class="textInWorkBlock">ru-ting</cite>
                            </div>
                        </div>
                    </li>
                    <h1 style="display: none;" class="textOp">Website with tests and awards<br>Written in python(Flask)</h1>
                    <a style="display: none;" class="animated-button ActiveMusic" href="https://ru-ting.ru/">visit the site</a>
                </div>


                <div class="bobr" id='Work3'>
                    <li class="workBlock sWB" style="background-image: url(/static/photo/1747x982.png); background-color:#5c5c5c; background-size: cover;">
                        <div class="Grodd">
                            <div class="textInWorkJB1">
                                <cite class="textInWorkBlock">Плеер фильмов</cite>
                            </div>
                        </div>
                    </li>
                    <h1 style="display: none;" class="textOp">The site is made for easy viewing of movies<br>Written in python(Flask)</h1>
                    <a style="display: none;" class="animated-button ActiveMusic" href="/film">visit the site</a>
                </div>

            </div>
        </section>


        <section id='Projects' style="margin-top: 150px; max-width: 900px;" class="cont SectionsWork BlockSize">
            <div>
                <h1 class="Texts" style="text-align: center; font-family: 'Russo One'; margin: 0;">Projects</h1>
                <h3>Including open source shit because that’s what’s cool.</h3>
            </div>

            <div class="GridInAbout" style="margin-top: 40px;">
                <ul class="items inta" style="list-style: none;">

                    <li class="PaddLinkB">
                        <a class="btra" href="https://github.com/WTTeneger/PCManagements" target="_blank" title="Figurative for iPadOS">
                            <div style="display: grid; grid-template-columns: 1fr 3fr;">
                                <figure class="BarFigure1">
                                    <div class="artwork" style="background-image:url(/static/pf/giticon.png); background-color: #fff0;"></div>
                                </figure>
                                <h4 class='BarFigure2'>PCManagements</h4>
                            </div>
                        </a>
                    </li>

                    <li class="PaddLinkB">
                        <a class="btra" href="https://github.com/WTTeneger/translator_API_Yandex" target="_blank" title="Figurative for iPadOS">
                            <div style="display: grid; grid-template-columns: 1fr 3fr;">
                                <figure class="BarFigure1">
                                    <div class="artwork" style="background-image:url(/static/pf/giticon.png); background-color: #fff0;"></div>
                                </figure>
                                <h4 class='BarFigure2'>API translator Yandex</h4>
                            </div>
                        </a>
                    </li>

                    <li class="PaddLinkB">
                        <a class="btra" href="https://amalagishev.ru/film/prod" target="_blank" title="Figurative for iPadOS">
                            <div style="display: grid; grid-template-columns: 1fr 3fr;">
                                <figure class="BarFigure1">
                                    <div class="artwork" style="background-image:url(/static/pf/giticon.png); background-color: #fff0;"></div>
                                </figure>
                                <h4 class='BarFigure2'>API playerFilms</h4>
                            </div>
                        </a>
                    </li>

                    <li class="PaddLinkB">
                        <a class="btra" href="https://github.com/WTTeneger/kinopoisk_api" target="_blank" title="Figurative for iPadOS">
                            <div style="display: grid; grid-template-columns: 1fr 3fr;">
                                <figure class="BarFigure1">
                                    <div class="artwork" style="background-image:url(/static/pf/giticon.png); background-color: #fff0;"></div>
                                </figure>
                                <h4 class='BarFigure2'>kinopoisk</h4>
                            </div>
                        </a>
                    </li>


                </ul>

                <div class="Stupers">
                    <p class="TextsInData">Right here you’ll find assorted links to assorted projects. Most of them involve doing something on Python. Some others are web based.</p>
                    <p style="font-style: italic;" class="TextsInData">“Programming is like flipping burgers with a keyboard.”</p>
                    <small>—<a href="https://twitter.com/swiftonsecurity/status/699811103677648896" style="color: inherit; font-size: 1.0rem; text-decoration: none;" target="_blank">Taylor Swift</a></small>
                </div>


            </div>
        </section>


        <section id='sertificate' class="SectionsWork BlockSize">
            <div class="cont">
                <h1 class="Texts" style="font-family: 'Russo One'; margin: 0;">sertificate</h1>
                <h3>Selected sertificate from 2018 to present.</h3>
            </div>
            <div style="overflow: auto; width: auto;" id='Workss'>
                <div style="display: flex; width: max-content; column-gap: 15px; padding-bottom: 5px;">
                    <embed src="/static/sertificate/MCH.png" style="width: auto;" width="700" height="300" frameborder="0" />
                    <embed src="/static/sertificate/MCH.png" style="width: auto;" width="700" height="300" frameborder="0" />
                    <embed src="/static/sertificate/MCH.png" style="width: auto;" width="700" height="300" frameborder="0" />
                    <embed src="/static/sertificate/MCH.png" style="width: auto;" width="700" height="300" frameborder="0" />
                    <embed src="/static/sertificate/MCH.png" style="width: auto;" width="700" height="300" frameborder="0" />
                    <embed src="/static/sertificate/MCH.png" style="width: auto;" width="700" height="300" frameborder="0" />
                </div>
            </div>
        </section>


        <section id='About' style="margin-top: 150px; max-width: 900px;" class="cont SectionsWork BlockSize">
            <div>
                <h1 class="Texts" style="text-align: left; font-family: 'Russo One'; margin: 0;">About</h1>
            </div>

            <div class="GridInAbout">
                <div>
                    <figure class="photo"> <img src="/static/pf/me.jpg" style="border-radius: 8px;" width="auto" height="218" title="File photo"> </figure>
                    <p class="TextsInAbout">I'm a self-taught developer and designer who loves to create things. Over the past 2 years, I've helped bring easy-to-use products to life, I've learned to create, and I've succeeded.</p>
                    <br>
                    <p class="TextsInAbout">I’m currently, I work for freelance as a programmer in python, JavaScript, c#, as well as making websites in html and css.</p>
                    <br>
                    <p class="TextsInAbout">Outside of programming I enjoy music, vintage technology, and dank memes.</p>
                </div>


                <nav class="links" id='linkss'>
                    <ul style="list-style: none;">
                        <li>
                            <a class="butInAbout" href="https://vk.com/asalamalekyym" target="_blank">Russian social network (VK) 
                <i class="fa fa-vk" style="color:#0d63b3; font-size: 2.333333em; line-height: 1.2em; vertical-align: -15%;" aria-hidden="true"></i>
              </a>
                        </li>
                        <li>
                            <a class="butInAbout" href="https://instagram.com/WT_Tini" target="_blank">Check out my Instagram 
                <i class="fa fa-instagram" style="color: #e46abf; font-size: 2.333333em; line-height: 1.2em; vertical-align: -15%; padding-left: 25px;" aria-hidden="true"></i>
              </a>
                        </li>
                        <li>
                            <a class="butInAbout" href="mailto:swintages@gmail.com?subject=Aloha" target="_blank">Send me an email 
                <i class="fa fa-envelope-o" style="color: #ffffff; font-size: 2.333333em; line-height: 1.2em; vertical-align: -15%; padding-left: 70px;" aria-hidden="true"></i>
              </a>
                        </li>
                        <li>
                            <a class="butInAbout" href="https://github.com/WTTeneger" target="_blank">GitHub 
                <i class="fa fa-github" style="color: #3aee9f; font-size: 2.333333em; line-height: 1.2em; vertical-align: -15%; padding-left: 150px;" aria-hidden="true"></i>
              </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </section>


        <footer class="Fut">
            <div class="contentFut" style="margin-top: 64px;">
                <p style="margin-block-end: 0em;">Made with love in Sochi, Russia.</p>
            </div>
        </footer>
    </main>
</body>

</html>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<!-- Scripts -->
<script src="/static/js/main.js"></script>