{% extends 'header_base.html' %} {% block title %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/film_page.js"></script>
<script src="/static/js/clickerPointer.js"></script>

<title>AA · Смотри фильмы</title>
<link rel="stylesheet" type="text/css" href="/static/CSS/auth.css">
<!--  -->
{% endblock %} {% block body %}

<section class="top_photo" style="  margin-top: 0px;">
    <div class="p100 rea" style="height: 100vh;">
        <div class="p100">
            <img class="PG_ pbGradient" src="{{Main_poster['data']['image']}}" alt="">

        </div>
        <div class="p100 effect abs">
            <div class="pbGradient"></div>
            <div class="dark_block"></div>

        </div>
        <div class="p100 abs">
            <div style="position: absolute;width: 100%;HEIGHT: 100%; margin:0;" class="Search_box WAS">

                <div style="padding: 2vh;top: 30%;position: absolute;width: 100%;margin:0;">
                    <h1 class="text_in_main_block"> {{Main_poster['data']['nameRu']}}</h1>
                </div>

                <div style="padding: 2vh;top: 55%;position: absolute;width: 100%;margin:0; display: none;">
                    <h3 class="text_in_main_block" style="width: 50%; margin: 0 auto;">{{Main_poster['data']['description']}}</h3>
                </div>

                <div style="padding: 2vh;bottom: 0;left:0;position: absolute;width: max-content;margin:0;">
                    <!-- <div class="btn btn--header sm-hide js-modal-open active" id="catalog_films" style="display: block;" name="Films-L" data-modal="menu">Каталог фильтров</div> -->
                    <div style="width: max-content;max-width: 500px;max-height: 65px;height: 10vw;  background: #fbbb43;border-radius: 11px;color: #000;" class="btn btn--primary js-addToCart" name="bqwe" id="open_window_film" film_id="{{Main_poster['data']['filmId']}}" data-item-id="950">
                        <h1 style="color: black;" name="bqwe" id="open_window_film" film_id="{{Main_poster['data']['filmId']}}">Смотреть фильм</h1>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>





<div>
    <div class="b-content__layout" style="overflow: visible;">
        <div class="main_div"></div>
        <div class="Starter_dev">
            <div class="MD">
                {%if data_semular != false%}
                <div class='block_category' name="film_to_you">
                    <div name='title_block'>
                        <h2 style="margin: 5px 5px 10px 5px;" id='film_' name='film_to_you'>Фильмы для вас</h2>
                        <svg width="1.8rem" style="  margin-top: .5vw;" height="1.8rem" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="BaseList__title-link-icon--3s9OQ" data-tid="21651319">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.704 8.7348L5 3.46961L6.35656 2L13.6526 8.7348L6.35656 15.4696L5 14L10.704 8.7348Z"></path>
                        </svg>
                    </div>
                    <div style="position: relative;" class="osnova_slada">
                        <div name='Slider_film_to_you' class="Slider_div">
                            <div name='Sliders_1' class="Sliders_">
                                <!-- Рекомендации от просмотренных фильмов -->

                                <!--  -->
                                {%for el in data_semular['items']%}
                                <div class="shop-item" title="{{el['nameRu']}}" style="height: auto;">
                                    <a class="shop-item__image" href="/infofilm/{{el['filmId']}}">
                                        <img class="loaded" style="-webkit-mask:none; width:100%; max-height: 370px;" src="{{el['posterUrlPreview']}}" alt="{{el['nameRu']}}">
                                        <div class="b-card__img-ratinglabels">
                                            <div class="b-ratinglabel" style="cursor: pointer;">

                                                <div class="b-ratinglabel__value">{{el['rating']}}</div>
                                                <div class="b-ratinglabel__title">По просмотренным</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="shop-item__name Name_texts" href="/infofilm/{{el['filmId']}}">{{el['nameRu']}}</a>
                                    <div class="shop-item__price">
                                        <div class="shop-item__price-discount">{{el['year']}}</div>
                                    </div>
                                    <span class="btn btn--primary js-addToCart" onclick="window.open(&quot;/infofilm/{{el['filmId']}})" name="bqwe" id="open_window_film" film_id="{{el['filmId']}}" data-item-id="{{el['filmId']}}">Перейти</span>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <button class='btr btr-r' name="Slide_1" id="Slide_right">
                            <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_1" id="Slide_right" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3" style="transform: rotate(180deg);">
                                <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_1" id="Slide_right" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                            </svg>
                        </button>
                        <button class='btr btr-l' name="Slide_1" id="Slide_left">
                            <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_1" id="Slide_left" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3">
                                <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_1" id="Slide_left" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                {%endif%}

                <div class='block_category' name="film_popular">
                    <div name='title_block'>
                        <h2 style="margin: 5px 5px 10px 5px;" id='film_' name='top_now'>Сейчас популярно</h2>
                        <svg width="1.8rem" style="  margin-top: .5vw;" height="1.8rem" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="BaseList__title-link-icon--3s9OQ" data-tid="21651319">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.704 8.7348L5 3.46961L6.35656 2L13.6526 8.7348L6.35656 15.4696L5 14L10.704 8.7348Z"></path>
                        </svg>
                    </div>
                    <div style="position: relative;" class="osnova_slada">
                        <div name='Slider_film_popular' class="Slider_div">
                            <div name='Sliders_2' class="Sliders_">
                                <!-- Рекомендации от просмотренных фильмов -->

                                <!--  -->
                                {%for el in Top_now['films']%}
                                <div class="shop-item" title="{{el['nameRu']}}" style="height: auto;">
                                    <a class="shop-item__image" href="/infofilm/{{el['filmId']}}">
                                        <img class="loaded" style="-webkit-mask:none; width:100%; max-height: 370px;" src="{{el['posterUrlPreview']}}" alt="{{el['nameRu']}}">
                                        <div class="b-card__img-ratinglabels">
                                            <div class="b-ratinglabel" style="cursor: pointer;">

                                                <div class="b-ratinglabel__value">{{el['rating']}}</div>
                                                <div class="b-ratinglabel__title">Рейтинг</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="shop-item__name Name_texts" href="/infofilm/{{el['filmId']}}">{{el['nameRu']}}</a>
                                    <div class="shop-item__price">
                                        <div class="shop-item__price-discount">{{el['year']}}</div>
                                    </div>
                                    <span class="btn btn--primary js-addToCart" onclick="window.open(&quot;/infofilm/{{el['filmId']}})" name="bqwe" id="open_window_film" film_id="{{el['filmId']}}" data-item-id="{{el['filmId']}}">Перейти</span>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <button class='btr btr-r' name="Slide_2" id="Slide_right">
                            <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_2" id="Slide_right" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3" style="transform: rotate(180deg);">
                                <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_2" id="Slide_right" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                            </svg>
                        </button>
                        <button class='btr btr-l' name="Slide_2" id="Slide_left">
                            <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_2" id="Slide_left" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3">
                                <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_2" id="Slide_left" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class='block_category' name="film_waiting">
                    <div name='title_block'>
                        <h2 style="margin: 5px 5px 10px 5px;" id='film_' name='top_await'>Ожидает весь мир</h2>
                        <svg width="1.8rem" style="  margin-top: .5vw;" height="1.8rem" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="BaseList__title-link-icon--3s9OQ" data-tid="21651319">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.704 8.7348L5 3.46961L6.35656 2L13.6526 8.7348L6.35656 15.4696L5 14L10.704 8.7348Z"></path>
                        </svg>
                    </div>
                    <div style="position: relative;" class="osnova_slada">
                        <div name='Slider_film_popular' class="Slider_div">

                            <div name='Sliders_3' class="Sliders_">
                                <!-- Рекомендации от просмотренных фильмов -->
                                {%for el in Top_wating['films']%}
                                <div class="shop-item" title="{{el['nameRu']}}" style="height: auto;">
                                    <a class="shop-item__image" href="/infofilm/{{el['filmId']}}">
                                        <img class="loaded" style="-webkit-mask:none; width:100%; max-height: 370px;" src="{{el['posterUrlPreview']}}" alt="{{el['nameRu']}}">
                                        <div class="b-card__img-ratinglabels">
                                            <div class="b-ratinglabel" style="cursor: pointer;">

                                                <div class="b-ratinglabel__value">{{el['rating']}}</div>
                                                <div class="b-ratinglabel__title">Ожидают</div>
                                            </div>
                                        </div>

                                    </a>
                                    <a class="shop-item__name Name_texts" href="/infofilm/{{el['filmId']}}">{{el['nameRu']}}</a>
                                    <div class="shop-item__price">
                                        <div class="shop-item__price-discount">{{el['year']}}</div>
                                    </div>
                                    <span class="btn btn--primary js-addToCart" onclick="window.open(&quot;/infofilm/{{el['filmId']}})" name="bqwe" id="open_window_film" film_id="{{el['filmId']}}" data-item-id="{{el['filmId']}}">Перейти</span>
                                </div>
                                {%endfor%}
                            </div>

                        </div>
                        <button class='btr btr-r' name="Slide_3" id="Slide_right">
                                <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_3" id="Slide_right" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3" style="transform: rotate(180deg);">
                                    <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_3" id="Slide_right" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                                </svg>
                            </button>
                        <button class='btr btr-l' name="Slide_3" id="Slide_left">
                                <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_3" id="Slide_left" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3">
                                    <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_3" id="Slide_left" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                                </svg>
                            </button>
                    </div>

                </div>


                <div class='block_category' name="film_clasic">
                    <div name='title_block'>
                        <h2 style="margin: 5px 5px 10px 5px;" id='film_' name='top_main'>Самая настоящая классика</h2>
                        <svg width="1.8rem" style="  margin-top: .5vw;" height="1.8rem" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="BaseList__title-link-icon--3s9OQ" data-tid="21651319">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.704 8.7348L5 3.46961L6.35656 2L13.6526 8.7348L6.35656 15.4696L5 14L10.704 8.7348Z"></path>
                        </svg>
                    </div>
                    <div style="position: relative;" class="osnova_slada">
                        <div name='Slider_film_popular' class="Slider_div">
                            <div name='Sliders_4' class="Sliders_">
                                <!-- Рекомендации от просмотренных фильмов -->
                                {%for el in Top_clasic['films']%}
                                <div class="shop-item" title="{{el['nameRu']}}" style="height: auto;">
                                    <a class="shop-item__image" href="/infofilm/{{el['filmId']}}">
                                        <img class="loaded" style="-webkit-mask:none; width:100%; max-height: 370px;" src="{{el['posterUrlPreview']}}" alt="{{el['nameRu']}}">
                                        <div class="b-card__img-ratinglabels">
                                            <div class="b-ratinglabel" style="cursor: pointer;">

                                                <div class="b-ratinglabel__value">{{el['rating']}}</div>
                                                <div class="b-ratinglabel__title">Рейтинг</div>
                                            </div>
                                        </div>

                                    </a>
                                    <a class="shop-item__name Name_texts" href="/infofilm/{{el['filmId']}}">{{el['nameRu']}}</a>
                                    <div class="shop-item__price">
                                        <div class="shop-item__price-discount">{{el['year']}}</div>
                                    </div>
                                    <span class="btn btn--primary js-addToCart" onclick="window.open(&quot;/infofilm/{{el['filmId']}})" name="bqwe" id="open_window_film" film_id="{{el['filmId']}}" data-item-id="{{el['filmId']}}">Перейти</span>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <button class='btr btr-r' name="Slide_4" id="Slide_right">
                            <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_4" id="Slide_right" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3" style="transform: rotate(180deg);">
                                <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_4" id="Slide_right" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                            </svg>
                        </button>
                        <button class='btr btr-l' name="Slide_4" id="Slide_left">
                            <svg width="17" height="36" viewBox="0 0 17 36" name="Slide_4" id="Slide_left" fill="none" xmlns="http://www.w3.org/2000/svg" data-tid="75eaaec3">
                                <path fill-rule="evenodd" clip-rule="evenodd" name="Slide_4" id="Slide_left" d="M5.5001 17.9998L16.6001 3.1998L13.4001 0.799805L0.500097 17.9998L13.4001 35.1998L16.6001 32.7998L5.5001 17.9998Z" fill="white"></path>
                            </svg>
                        </button>
                    </div>
                </div>


                <footer class="Fut" style="  margin-top: 30px;">
                    <div class="contentFut data_block" style="padding-bottom: 1rem;">
                        <p style="margin-block-end: 0em;">Made with love from <br><br><a class="A_href" href="/#About">Amal Agishev</a></p>
                    </div>
                </footer>
            </div>
        </div>


    </div>
</div>

{% endblock %}