<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/port.css">
    <link rel="stylesheet" type="text/css" href="/static/css/workline.css">
    <!-- Link Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- List -->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <!--Comics - Bangers-->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!--Games - Press Start 2P -->
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!--Luckiest Guy-->
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <!-- Rubik Mono One -->
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
    <!-- Megrim -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <!-- Bungee Shade -->
    <link href="https://fonts.googleapis.com/css2?family=Codystar&display=swap" rel="stylesheet">
    <!-- Codystar -->
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <!-- rus fonts-->

    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/static/Icons/152_IC.jpg" sizes="152x152">

    <!-- 
  <link rel="icon" type="image/png" href="/static/Icons/96_IC.jpg" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/Icons/32_IC.jpg" sizes="32x32">
     -->

    <title>Amal Agishev</title>
</head>
<!-- //TODO -->

<body class="MainBody" style="color: #fff; background-color: #000;" id='MainBody'>
    <div class="mtrk">
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(m, e, t, r, i, k, a) {
                m[i] = m[i] || function() {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(80439196, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/80439196" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <div id='ExitBlock' onclick="bars(this)"></div>

        <div id='TransformColor'></div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/cod_conami.js"></script>
        <!-- #a9a6a68f   белый -->
    </div>

    <main style="text-align: center;" id='m'>
        <header>
            <nav id=''>
                <a href="#m" style="height: 10%;" class="logo">
                    <figure style="margin: 0; margin-block-start: 17px;">
                        <svg class="SVGExit" style="margin-top: -30px;" width="40" height="80" viewBox="0 0 239 385" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="113" width="14" height="188" fill="#474747"/>
              <rect x="8" y="363" width="223" height="22" fill="#F1F1F1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M136.694 135H103.306L16 185.406L16 135H0V374H239V135H224V185.406L136.694 135Z" fill="#3C78AF"/>
            </svg>
                    </figure>
                </a>
                <ul class="menu">
                    <li>
                        <a href="/">main</a>
                    </li>


                    <li>
                        <a href="#color" onclick="BRe()">
                            <i id='FaR' class="fa fa-moon-o GTAW" style="font-size: .9em;" aria-hidden="true"></i>

                        </a>
                    </li>


                </ul>
            </nav>
        </header>
        <section class="Sections ">
            <!-- BlockSize -->
            <div class="cont">
                <h1 class="Texts" style="font-family: 'Russo One';"><span id='textLegBlock'>Привет</span><br> this is Amal</h1>
            </div>
        </section>
        <section class="workline">
            <ul class="list3b">
                <li>2017 Весна - Разработка куска я.такси связанного с погодой</li>
                <li>2018 Лето - Разработка телеграмм бота "Царь горы"</li>
                <li>2018 Осень - Создания сайта domyhomework123</li>
                <li>2019 Зима - Создание дипломного проекта ru-ting</li>
                <li>2019 Весна - Участвовал в хакатоне "цифровой прорыв" в роле BackEnd разработчки (5 место)</li>
                <li>2020 Весна - Начало созадния сайта amalagishev.ru/film</li>
                <li>2020 Весна - Участвовал в хакатоне "цифровой прорыв" в роле TeamLid (2 место)</li>
                <li>2021 Зима - Участвовал в хакатоне "цифровой прорыв" в роле TeamLid (1 место)</li>
                <li>2021 Весна - Участвовал в хакатоне "MoscowHack" в роле TeamLid (1 место)</li>
                <li>2021 Весна - Участвовал в хакатоне "Hack123" в роле TeamLid (4 место)</li>
                <li>2021 Лето - Запуск amalagishev.ru/film</li>
            </ul>
        </section>
        <footer class="Fut" style="padding-top: 0px;">
            <div class="contentFut" style="margin-top: 64px;">
                <p style="margin-block-end: 0em;">Made with love in Sochi, Russia.</p>
            </div>
        </footer>
    </main>
</body>

</html>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<!-- Scripts -->
<script src="/static/js/main.js"></script>